<%- include('header.ejs') %>

<div class="box">
	<h1><%= listtitle %></h1>
</div>
<div class="box">
	<%if(locals.newListItems){%> <% for(let item of newListItems){%>
	<div class="item">
		<div class="itemList">
			<input type="checkbox" />
			<p class="checkboxtext"><%= item %></p>
		</div>

		<button
			type="submit"
			name="delete"
			id="deleteButton"
			value="<%=item%>">
			<i class="fa-solid fa-xmark closeButton"></i>
		</button>
	</div>
	<% } %> <%}%>

	<form
		class="item"
		action="/"
		method="post">
		<input
			type="text"
			name="newItem"
			placeholder="New Item"
			autocomplete="off" />
		<button
			type="submit"
			name="list"
			value="<%= listtitle %>">
			<i class="fa-solid fa-circle-plus addButton"></i>
		</button>
	</form>
</div>
